.summary {
  width: 400px;
  /* padding-top: 40px; */
}

.title {
  display: flex;
  gap: 8px;
  font-size: 20px;
  padding: 40px 0 20px;
}

.habemus {
  font-weight: 400;
}

.pizza {
  font-weight: 700;
}

.paragraph {
  font-size: 12px;
}

@media (max-width: 700px) {
  .summary {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
