@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;500;600&family=Hind:wght@300;500&family=Space+Grotesk:wght@300;500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Hind Siliguri", sans-serif;
}

.background {
  /* overflow: hidden; */
  position: relative;
  height: 100vh;
  background: radial-gradient(
    circle at right 40%,
    rgb(249, 85, 56) 40%,
    rgba(255, 255, 255, 1) 0%
  );
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* height: 500px; */
  /* width: 600px; */
  padding: 60px;
  padding-left: 100px;
}

.pizzaSonriente {
  width: 400px;
  position: absolute;
  right: 14%;
  top: 80px;
}

@media (max-width: 700px) {
  .background {
    background: radial-gradient(
      circle at right 50%,
      rgba(217, 217, 217, 1) 70%,
      rgba(255, 255, 255, 1) 70%
    );
  }
  .pizzaSonriente {
    position: sticky;
    max-width: 160px;
    z-index: 0.5;
  }
  .main {
    align-items: center;
  }
}

@media (min-width: 700px) {
  .background {
    overflow: hidden;
  }
}
